div{
float: left;
}

#cyan{
  background-color: #2ECC71;
  height: 50px;
  width: 80%
}

#blue{
  background-color: #2980B9;
  height: 50px;
  width: 20%
}

#cyan{
  background-color: cyan;
}

#cyan{
  background-color: cyan;
}

#cyan{
  background-color: cyan;
}
